@media all and (min-width: 480px) {
.page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header{
    display: flex;
    height: 88px;
    width: 1440px;
    align-items: center;
    justify-content: center;
    /* Rectangle: */
    background: #FFFFFF;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.50);
    /* Header: */
    font-family: Avenir-Heavy;
    font-size: 36px;
    color: #000000;
}

.logo{
    display: flex;
    height: 100px;
    max-width: 100px;
    margin-top: 100px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.50);
    margin:40px auto;
}
.container{
    height: 612px;
    width: 433px;
    margin-top: 78px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    /* Panel: */
    background: #FFFFFF;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: 16px;
    
}

#error{
    font-family: Avenir-Medium;
    font-size: 10px;
    color:red;
}
#submit_button{
    display: flex;
    height: 50px;
    width: 200px;
    background: #CE3E3E;
    border-radius: 16px;
    font-family: Avenir-Heavy;
    color: #FFFFFF;
    font-size: 16px;
    justify-content: center;
    margin:100px auto;
}
#submit_button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#submit_button:focus{
    outline: none;
}
}